@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
  --color-netflix-gradient:
    radial-gradient(
      50% 500% at 50% -420%,
      rgba(64, 97, 231, 0.4) 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    black;
  --color-netflix-border-gradient: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  /* For Firefox. */
  * {
    scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
    display: none;
  }
}
