@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ededed;
}

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  /* For Firefox. */
  * {
    scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
    display: none;
  }
}
